extends layout

block content
  h1= title
  p Welcome to #{title}

  table(class="dayTable")
    tr(class="dayHeader")
      th Datum
      th LHF
      th DLK
      th RTW 1
      th RTW 2
      th NEF
    tr
      td 02.12.
      // Tabelle LHF
      td      
        table 
            tr
              td Haberkorn
            tr
              td Müller
      // Tabelle DL
      td
        table
            tr
              td Schröder
            tr
              td Meißner
      // Tabelle RTW 1
      td  
        table
            tr  
              td Matzmohr
            tr
              td Jaster
      // Tabelle RTW 2
      td  
        table
            tr  
              td Heinrich
            tr
              td Zimmat
      // Tabelle NEF
      td  
        table
            tr  
              td Rusche
            

