body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.dayTable{

  width: 80%;
  background-color: beige;
  border: 1px solid black;

}
.dayTable .dayHeader{
  background-color: blue;
  height: 35px;
}